<div class="container">

<h1>Percival J. Loyola</h1>
<p>Developer</p>
<p> I’m a startup guy. I love to build out cool ideas that solve problems with people who are just as driven to create. As a Developer and General Assembly graduate I've grown my potential as a technical talent, as well as expand my talents in rapid product ideation, prototyping and in building cooperation among a group to realize one inspired idea.</p>
<br/>



</div>

<div class="containersmall">

<a href="http://www.linkedin.com/in/percyj" target="blank">
	<%=image_tag("linkedin.png") %> </a>

<a href="http://github.com/PercivalJ" target="blank">
	<%=image_tag("github.png") %> </a>


<%= mail_to 'percivalloyal@gmail.com', image_tag("email.png") %>
	


</div>